@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>Studant @ViewData["Studant"]</p>

<address>
    <strong>More information: <a href="https://www.instagram.com/joel_dickel/?hl=pt-br">InstaJoel.com.br</a></strong>
</address>